Backup
{
  "createdAt": "2025-06-21T23:56:17.734Z",
  "updatedAt": "2025-06-23T06:05:08.000Z",
  "id": "4fJhwfUZLcYvncO6",
  "name": "Backup",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1580,
        -80
      ],
      "id": "39c928e6-153c-47af-bb16-94f656b36453",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -1380,
        -220
      ],
      "id": "d964a544-28a1-4789-a4d7-2854baa1ae3e",
      "name": "n8n",
      "credentials": {
        "n8nApi": {
          "id": "25m6IPU01x6ucEWA",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1140,
        -220
      ],
      "id": "f0da239b-e21a-4f88-a465-159b50e1766a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const jsonData = JSON.stringify(item.json);\n  const binaryData = Buffer.from(jsonData).toString('base64');\n  item.binary = {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json',\n      fileName: 'data.json'\n    }\n  };\n  return item;\n});"
      },
      "id": "2f424a5b-ee28-4fb5-b34a-c8edfd018bd9",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        80,
        160
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ",
          "mode": "list",
          "cachedResultName": "Backups",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Title",
              "lookupValue": "={{ $('n8n').item.json.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -640,
        -200
      ],
      "id": "3efc5de7-ab31-443c-9280-c1bbd93b8de2",
      "name": "Google Sheets",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h7kHfio5g2Z9aEew",
          "name": "Google Cloud Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ",
          "mode": "list",
          "cachedResultName": "Backups",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.data[1].name }}",
            "Date Created": "={{ $json.data[1].createdAt }}",
            "Last modified": "={{ $json.data[1].updatedAt }}",
            "N8N Url": "=https://workflows.zeriobox.com/workflow/{{ $json.data[1].n8n_id }}",
            "Tag": "={{ $json.data[1].tag }}",
            "Github Url": "={{ $json.github }}",
            "Shared Url": "=https://drive.google.com/file/d/{{ $json.data[1].drive_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tag",
              "displayName": "Tag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last modified",
              "displayName": "Last modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "N8N Url",
              "displayName": "N8N Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Github Url",
              "displayName": "Github Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Shared Url",
              "displayName": "Shared Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1360,
        0
      ],
      "id": "36665884-b798-42e6-9156-d1a1ea5787d4",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h7kHfio5g2Z9aEew",
          "name": "Google Cloud Credential"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a8195660-b59a-440c-8114-ff6377a536b0",
              "leftValue": "={{ $json['N8N Url'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -420,
        -200
      ],
      "id": "1f5d99c3-65f7-4ff6-8aef-efd950ae6e33",
      "name": "Exist or not in Sheet"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "23044feb-1e63-4888-994c-f2a2248551fc",
              "leftValue": "={{ $json['Last modified'] }}",
              "rightValue": "={{ $('Loop Over Items').item.json.updatedAt }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -200,
        -460
      ],
      "id": "0ed02a0c-345a-44b3-adde-3435378ffc76",
      "name": "updated or not"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1sj-LmWDihOKsbJ_GXaYW4LBA1GcU3hy-ihutCE2224s",
          "mode": "list",
          "cachedResultName": "Automations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sj-LmWDihOKsbJ_GXaYW4LBA1GcU3hy-ihutCE2224s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sj-LmWDihOKsbJ_GXaYW4LBA1GcU3hy-ihutCE2224s/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.name }}",
            "Last modified": "={{ $('Loop Over Items').item.json.updatedAt }}",
            "Shared Url": "=https://drive.google.com/file/d/{{ $json.id }}"
          },
          "matchingColumns": [
            "Title"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last modified",
              "displayName": "Last modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "N8N Url",
              "displayName": "N8N Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Github Url",
              "displayName": "Github Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Shared Url",
              "displayName": "Shared Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1000,
        -300
      ],
      "id": "bbcbe318-3c8b-4425-89c4-23bad703ecac",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h7kHfio5g2Z9aEew",
          "name": "Google Cloud Credential"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d25bc78-5383-43fc-997a-6f110714385f",
              "name": "ok",
              "value": "ok",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1480,
        -740
      ],
      "id": "2e3548f6-f36e-43d2-8416-68d42cb35c7c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.id }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -200,
        20
      ],
      "id": "c5c6e5c3-6477-4282-9178-72c208c3a622",
      "name": "n8n1",
      "credentials": {
        "n8nApi": {
          "id": "25m6IPU01x6ucEWA",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.name }}",
        "driveId": {
          "__rl": true,
          "value": "1HmBSAtGgcZLSbO2BxikQbvbzAcZzY7u9",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/0/folders/1SDMuJ-oFxW1laCNTpvFMb2t5Gd2ofLhnhttps://drive.google.com/drive/u/0/folders/1SDMuJ-oFxW1laCNTpvFMb2t5Gd2ofLhn",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        360,
        160
      ],
      "id": "167a49a7-dffc-457d-8807-cb3110ccd24c",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "U8t8mDjwMMO8YhdJ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $json['Shared Url'] }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        80,
        -360
      ],
      "id": "472a598e-3e46-4edd-907e-4d2bc2c5790b",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "U8t8mDjwMMO8YhdJ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.id }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        320,
        -360
      ],
      "id": "72735bdf-04cc-477c-88df-dcd6db2f4112",
      "name": "n8n2",
      "credentials": {
        "n8nApi": {
          "id": "25m6IPU01x6ucEWA",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const jsonData = JSON.stringify(item.json);\n  const binaryData = Buffer.from(jsonData).toString('base64');\n  item.binary = {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json',\n      fileName: 'data.json'\n    }\n  };\n  return item;\n});"
      },
      "id": "b05a701e-a14c-4299-a08c-ac5ef88fab99",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "position": [
        520,
        -300
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "name": "={{ $json.name }}",
        "driveId": {
          "__rl": true,
          "value": "1HmBSAtGgcZLSbO2BxikQbvbzAcZzY7u9",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/0/folders/1SDMuJ-oFxW1laCNTpvFMb2t5Gd2ofLhnhttps://drive.google.com/drive/u/0/folders/1SDMuJ-oFxW1laCNTpvFMb2t5Gd2ofLhn",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        780,
        -300
      ],
      "id": "dce38604-7fb8-4a3c-873b-8605077bf6ae",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "U8t8mDjwMMO8YhdJ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "=https://github.com/Peter-Aistralis/",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('n8n1').item.json.tags[0].name }}",
          "mode": "name"
        },
        "filePath": "={{ $('n8n1').item.json.name }}",
        "binaryData": true,
        "commitMessage": "first commit"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        340,
        -100
      ],
      "id": "282a0b46-8ae4-42cf-9bb2-3662770f62a3",
      "name": "GitHub1",
      "webhookId": "16e5f2e5-4072-4f0a-b013-a1d2b5e9b390",
      "credentials": {
        "githubApi": {
          "id": "tGo4GdosINl12am3",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const jsonString = JSON.stringify(items[0].json, null, 2); // keeps indentation\nconst dataBuffer = Buffer.from(jsonString);\n\nreturn [\n  {\n    binary: {\n      data: {\n        data: dataBuffer.toString('base64'),\n        fileName: 'workflow.json',\n        mimeType: 'application/json',\n      },\n    },\n    json: {}, // optional, can include metadata\n  },\n];\n"
      },
      "id": "c31aed13-5d37-49e1-8f8e-0855d59662a2",
      "name": "Code5",
      "type": "n8n-nodes-base.code",
      "position": [
        80,
        -100
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -920,
        -200
      ],
      "id": "a74ba28e-838d-4de6-ae66-76eb06d068c4",
      "name": "Wait",
      "webhookId": "4e6da3b8-0f5e-418c-9d2d-12d53e17bbcf"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1600,
        -320
      ],
      "id": "bc5d2ad8-2413-40e1-b4cb-d548bd725ff7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const jsonString = JSON.stringify(items[0].json, null, 2); // keeps indentation\nconst dataBuffer = Buffer.from(jsonString);\n\nreturn [\n  {\n    binary: {\n      data: {\n        data: dataBuffer.toString('base64'),\n        fileName: 'workflow.json',\n        mimeType: 'application/json',\n      },\n    },\n    json: {}, // optional, can include metadata\n  },\n];\n"
      },
      "id": "f8f6b613-c0be-4141-a846-be95eb4637a6",
      "name": "Code6",
      "type": "n8n-nodes-base.code",
      "position": [
        520,
        -480
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "https://github.com/Peter-Aistralis",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Exist or not in Sheet').first()\n.json.Tag }}",
          "mode": "name"
        },
        "filePath": "={{ $('n8n2').first().json.name }}",
        "binaryData": true,
        "commitMessage": "Change commit by Peter"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        780,
        -480
      ],
      "id": "7b47d8f1-9d83-4283-b310-4eb1d89c90db",
      "name": "GitHub",
      "webhookId": "6d34e561-d4d8-45ad-bad5-b38b775c223d",
      "credentials": {
        "githubApi": {
          "id": "tGo4GdosINl12am3",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34775986-2867-4e53-b4b3-f6392d652107",
              "name": "github",
              "value": "={{ $json.content.html_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        -100
      ],
      "id": "2bb72a75-c8a6-4b4d-a61b-dc5cd7541024",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b187d35a-9ae3-46c9-bb08-bd3e07d9d0b8",
              "name": "drive_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "09e140c2-9de6-4ede-b9e0-15689f941e1f",
              "name": "createdAt",
              "value": "={{ $('Code').item.json.createdAt }}",
              "type": "string"
            },
            {
              "id": "eb108deb-01c6-4d70-9448-c093867d42f1",
              "name": "updatedAt",
              "value": "={{ $('Code').item.json.updatedAt }}",
              "type": "string"
            },
            {
              "id": "5dffcc1f-5136-4ae0-826b-b8d73dc56e18",
              "name": "n8n_id",
              "value": "={{ $('Code').item.json.id }}",
              "type": "string"
            },
            {
              "id": "e76b5251-6955-4f7a-a986-35dae2912e2e",
              "name": "name",
              "value": "={{ $('Code').item.json.name }}",
              "type": "string"
            },
            {
              "id": "c537c5d0-8d23-41a9-975b-81296ac030a6",
              "name": "tag",
              "value": "={{ $('Code').item.json.shared[0].project.projectRelations[0].user.personalizationAnswers.reportedSource }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        160
      ],
      "id": "fb0f61d4-4a99-436b-aea4-69763f1b8bd1",
      "name": "Edit Fields2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        820,
        20
      ],
      "id": "b685ee5c-4b8a-4d4b-8610-e855f3ff0e8d",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7c6c7d4-ac5d-4964-9a33-d792393ef210",
              "name": "github",
              "value": "={{ $json.data[0].github }}",
              "type": "string"
            },
            {
              "id": "b2c60222-d8ef-4753-b4a6-97ee1d55b6ab",
              "name": "data[1].drive_id",
              "value": "={{ $json.data[1].drive_id }}",
              "type": "string"
            },
            {
              "id": "1c699d7d-6c69-4b92-a664-084513dfc879",
              "name": "data[1].createdAt",
              "value": "={{ $json.data[1].createdAt }}",
              "type": "string"
            },
            {
              "id": "69b38d9f-7ddd-40ef-a391-ce44cb480055",
              "name": "data[1].updatedAt",
              "value": "={{ $json.data[1].updatedAt }}",
              "type": "string"
            },
            {
              "id": "6000cea5-f98c-4d75-9d38-e09d104bafb2",
              "name": "data[1].n8n_id",
              "value": "={{ $json.data[1].n8n_id }}",
              "type": "string"
            },
            {
              "id": "f7d93c15-f265-4ce5-96ff-1bdc1818c166",
              "name": "data[1].name",
              "value": "={{ $json.data[1].name }}",
              "type": "string"
            },
            {
              "id": "09d3b016-c290-4b09-aba1-5f6db4fd61a7",
              "name": "data[1].tag",
              "value": "={{ $json.data[1].tag }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        0
      ],
      "id": "bede33a1-08f5-4b01-9e39-93d6d7d93a28",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1020,
        20
      ],
      "id": "684da5fb-b8f8-4f2a-8d94-65e19d148772",
      "name": "Aggregate"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Exist or not in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exist or not in Sheet": {
      "main": [
        [
          {
            "node": "updated or not",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "n8n1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updated or not": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "n8n2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n2": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "GitHub1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Merge": [
      {
        "json": {
          "github": "https://github.com/Peter-Aistralis/YouTube/blob/main/Backup"
        }
      },
      {
        "json": {
          "drive_id": "12p7DcHCeRa5QiPJC3ROUUYHmjgpFy-Eh",
          "createdAt": "2025-06-21T23:56:17.734Z",
          "updatedAt": "2025-06-23T05:23:47.000Z",
          "n8n_id": "4fJhwfUZLcYvncO6",
          "name": "Backup",
          "tag": "youtube"
        }
      }
    ]
  },
  "versionId": "96e2c76f-27be-48d9-9335-5a6e63ce39e5",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-06-21T23:56:17.744Z",
      "updatedAt": "2025-06-21T23:56:17.744Z",
      "role": "workflow:owner",
      "workflowId": "4fJhwfUZLcYvncO6",
      "projectId": "BdqN6hW8Ys5p6Qob",
      "project": {
        "createdAt": "2025-06-21T23:23:36.016Z",
        "updatedAt": "2025-06-21T23:46:25.191Z",
        "id": "BdqN6hW8Ys5p6Qob",
        "name": "Peter W <peterjawel@gmail.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-06-21T23:23:36.017Z",
            "updatedAt": "2025-06-21T23:23:36.017Z",
            "role": "project:personalOwner",
            "userId": "fe9fcf05-4a1d-47b4-a16f-8f200880fb31",
            "projectId": "BdqN6hW8Ys5p6Qob",
            "user": {
              "createdAt": "2025-06-21T23:23:35.368Z",
              "updatedAt": "2025-06-21T23:46:50.000Z",
              "id": "fe9fcf05-4a1d-47b4-a16f-8f200880fb31",
              "email": "peterjawel@gmail.com",
              "firstName": "Peter",
              "lastName": "W",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-21T23:46:50.515Z",
                "personalization_survey_n8n_version": "1.98.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": false
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "createdAt": "2025-06-22T07:40:38.448Z",
      "updatedAt": "2025-06-22T07:40:38.448Z",
      "id": "BGN2hok7R5Ooic8u",
      "name": "YouTube"
    }
  ]
}