Telegram_Button
{
  "createdAt": "2025-06-25T04:39:56.674Z",
  "updatedAt": "2025-06-25T04:50:15.000Z",
  "id": "h8qxa97S25xjI8KB",
  "name": "Telegram_Button",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "chatId": "2034253630",
        "text": "=Please make your choice",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "button 1",
                    "additionalFields": {
                      "callback_data": "=Button 1"
                    }
                  },
                  {
                    "text": "Button 2",
                    "additionalFields": {
                      "callback_data": "tweede knopke"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "7903dbc3-b86c-44c6-ba51-2326e735628b",
      "name": "Telegram",
      "webhookId": "33eceff3-c90d-439e-8b10-7095bdc26172",
      "credentials": {
        "telegramApi": {
          "id": "2OaJ9Syo1HdXFzNH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -440,
        120
      ],
      "id": "f54dda7b-76af-4232-9665-100893914e26",
      "name": "Telegram Trigger",
      "webhookId": "d75d50c0-fe93-45aa-ba43-8a7e4fbc05f1",
      "credentials": {
        "telegramApi": {
          "id": "2OaJ9Syo1HdXFzNH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6b5781da-b5cf-492f-9b61-9a6d24bcde29",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -220,
        120
      ],
      "id": "7499f68f-77c4-481e-a92b-bf9c61915471",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.from.id }}",
        "text": "=pushed  {{ $('Telegram Trigger').item.json.callback_query.data }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        220
      ],
      "id": "43a4fca1-dadf-4e76-b18d-d45769974721",
      "name": "Telegram1",
      "webhookId": "0261e32c-6333-448b-9027-79c4d1e143b1",
      "credentials": {
        "telegramApi": {
          "id": "2OaJ9Syo1HdXFzNH",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 181780054,
          "callback_query": {
            "id": "8737052812984104033",
            "from": {
              "id": 2034253630,
              "is_bot": false,
              "first_name": "Pisto",
              "last_name": "Pisto",
              "username": "peter_aurelius",
              "language_code": "en"
            },
            "message": {
              "message_id": 1788,
              "from": {
                "id": 8092525885,
                "is_bot": true,
                "first_name": "Peter’s lovely V.A.",
                "username": "I_am_Peter_bot"
              },
              "chat": {
                "id": 2034253630,
                "first_name": "Pisto",
                "last_name": "Pisto",
                "username": "peter_aurelius",
                "type": "private"
              },
              "date": 1750826819,
              "text": "Please make your choice",
              "reply_markup": {
                "inline_keyboard": [
                  [
                    {
                      "text": "button 1",
                      "callback_data": "Button 1"
                    },
                    {
                      "text": "Button 2",
                      "callback_data": "tweede knopke"
                    }
                  ]
                ]
              }
            },
            "chat_instance": "-3467818319491484500",
            "data": "Button 1"
          }
        }
      }
    ]
  },
  "versionId": "a0690e43-517f-407f-920a-345b9794fe86",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-06-25T04:39:56.680Z",
      "updatedAt": "2025-06-25T04:39:56.680Z",
      "role": "workflow:owner",
      "workflowId": "h8qxa97S25xjI8KB",
      "projectId": "BdqN6hW8Ys5p6Qob",
      "project": {
        "createdAt": "2025-06-21T23:23:36.016Z",
        "updatedAt": "2025-06-21T23:46:25.191Z",
        "id": "BdqN6hW8Ys5p6Qob",
        "name": "Peter W <peterjawel@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-06-21T23:23:36.017Z",
            "updatedAt": "2025-06-21T23:23:36.017Z",
            "role": "project:personalOwner",
            "userId": "fe9fcf05-4a1d-47b4-a16f-8f200880fb31",
            "projectId": "BdqN6hW8Ys5p6Qob",
            "user": {
              "createdAt": "2025-06-21T23:23:35.368Z",
              "updatedAt": "2025-06-25T05:58:01.010Z",
              "id": "fe9fcf05-4a1d-47b4-a16f-8f200880fb31",
              "email": "peterjawel@gmail.com",
              "firstName": "Peter",
              "lastName": "W",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-21T23:46:50.515Z",
                "personalization_survey_n8n_version": "1.98.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "4fJhwfUZLcYvncO6",
                "userActivatedAt": 1750730431147,
                "easyAIWorkflowOnboarded": true
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "createdAt": "2025-06-22T07:40:38.448Z",
      "updatedAt": "2025-06-22T07:40:38.448Z",
      "id": "BGN2hok7R5Ooic8u",
      "name": "YouTube"
    }
  ]
}