xxx4
{
  "createdAt": "2025-06-21T23:56:17.734Z",
  "updatedAt": "2025-06-22T09:10:50.000Z",
  "id": "4fJhwfUZLcYvncO6",
  "name": "Backup",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -660,
        -280
      ],
      "id": "39c928e6-153c-47af-bb16-94f656b36453",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -980,
        160
      ],
      "id": "d964a544-28a1-4789-a4d7-2854baa1ae3e",
      "name": "n8n",
      "credentials": {
        "n8nApi": {
          "id": "25m6IPU01x6ucEWA",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -720,
        160
      ],
      "id": "f0da239b-e21a-4f88-a465-159b50e1766a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const jsonData = JSON.stringify(item.json);\n  const binaryData = Buffer.from(jsonData).toString('base64');\n  item.binary = {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json',\n      fileName: 'data.json'\n    }\n  };\n  return item;\n});"
      },
      "id": "2f424a5b-ee28-4fb5-b34a-c8edfd018bd9",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        360,
        400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ",
          "mode": "list",
          "cachedResultName": "Backups",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -380,
        160
      ],
      "id": "3efc5de7-ab31-443c-9280-c1bbd93b8de2",
      "name": "Google Sheets",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h7kHfio5g2Z9aEew",
          "name": "Google Cloud Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ",
          "mode": "list",
          "cachedResultName": "Backups",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tag",
              "displayName": "Tag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last modified",
              "displayName": "Last modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "N8N Url",
              "displayName": "N8N Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Github Url",
              "displayName": "Github Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Shared Url",
              "displayName": "Shared Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        780,
        400
      ],
      "id": "36665884-b798-42e6-9156-d1a1ea5787d4",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h7kHfio5g2Z9aEew",
          "name": "Google Cloud Credential"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a8195660-b59a-440c-8114-ff6377a536b0",
              "leftValue": "={{ $json['N8N Url'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        140
      ],
      "id": "1f5d99c3-65f7-4ff6-8aef-efd950ae6e33",
      "name": "Exist or not in Sheet"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "23044feb-1e63-4888-994c-f2a2248551fc",
              "leftValue": "={{ $json['Last modified'] }}",
              "rightValue": "={{ $('Loop Over Items').item.json.updatedAt }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "0ed02a0c-345a-44b3-adde-3435378ffc76",
      "name": "updated or not"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1sj-LmWDihOKsbJ_GXaYW4LBA1GcU3hy-ihutCE2224s",
          "mode": "list",
          "cachedResultName": "Automations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sj-LmWDihOKsbJ_GXaYW4LBA1GcU3hy-ihutCE2224s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sj-LmWDihOKsbJ_GXaYW4LBA1GcU3hy-ihutCE2224s/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.name }}",
            "Last modified": "={{ $('Loop Over Items').item.json.updatedAt }}",
            "Shared Url": "=https://drive.google.com/file/d/{{ $json.id }}"
          },
          "matchingColumns": [
            "Title"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last modified",
              "displayName": "Last modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "N8N Url",
              "displayName": "N8N Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Github Url",
              "displayName": "Github Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Shared Url",
              "displayName": "Shared Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        980,
        140
      ],
      "id": "bbcbe318-3c8b-4425-89c4-23bad703ecac",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h7kHfio5g2Z9aEew",
          "name": "Google Cloud Credential"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d25bc78-5383-43fc-997a-6f110714385f",
              "name": "ok",
              "value": "ok",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1540,
        420
      ],
      "id": "2e3548f6-f36e-43d2-8416-68d42cb35c7c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.id }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        160,
        400
      ],
      "id": "c5c6e5c3-6477-4282-9178-72c208c3a622",
      "name": "n8n1",
      "credentials": {
        "n8nApi": {
          "id": "25m6IPU01x6ucEWA",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1200,
        80
      ],
      "id": "9581a1ae-7ad6-4849-a8fd-a3f48fa3b766",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "name": "={{ $json.name }}",
        "driveId": {
          "__rl": true,
          "value": "1HmBSAtGgcZLSbO2BxikQbvbzAcZzY7u9",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/0/folders/1SDMuJ-oFxW1laCNTpvFMb2t5Gd2ofLhnhttps://drive.google.com/drive/u/0/folders/1SDMuJ-oFxW1laCNTpvFMb2t5Gd2ofLhn",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        560,
        400
      ],
      "id": "167a49a7-dffc-457d-8807-cb3110ccd24c",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "U8t8mDjwMMO8YhdJ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -540,
        280
      ],
      "id": "984fe297-c8ce-45bd-aff3-fbb5b0b5ab99",
      "name": "Wait",
      "webhookId": "d402e36b-8ce9-4b7b-90ed-d1b4ff0cd91b"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Exist or not in Sheet').item.json['Shared Url'] }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        120
      ],
      "id": "472a598e-3e46-4edd-907e-4d2bc2c5790b",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "U8t8mDjwMMO8YhdJ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.id }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        360,
        140
      ],
      "id": "72735bdf-04cc-477c-88df-dcd6db2f4112",
      "name": "n8n2",
      "credentials": {
        "n8nApi": {
          "id": "25m6IPU01x6ucEWA",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const jsonData = JSON.stringify(item.json);\n  const binaryData = Buffer.from(jsonData).toString('base64');\n  item.binary = {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json',\n      fileName: 'data.json'\n    }\n  };\n  return item;\n});"
      },
      "id": "b05a701e-a14c-4299-a08c-ac5ef88fab99",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "position": [
        540,
        140
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "name": "={{ $json.name }}",
        "driveId": {
          "__rl": true,
          "value": "1HmBSAtGgcZLSbO2BxikQbvbzAcZzY7u9",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/0/folders/1SDMuJ-oFxW1laCNTpvFMb2t5Gd2ofLhnhttps://drive.google.com/drive/u/0/folders/1SDMuJ-oFxW1laCNTpvFMb2t5Gd2ofLhn",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        780,
        140
      ],
      "id": "dce38604-7fb8-4a3c-873b-8605077bf6ae",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "U8t8mDjwMMO8YhdJ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "867fcabf-851c-4738-9050-5f3d72087747",
              "name": "env_key",
              "value": "={{ $env.key1 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -420,
        -160
      ],
      "id": "7cdfeb61-62b8-4abd-85a2-5a0bb100decd",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "console.log($env.key1);\nconsole.log ('iiiii');\n\nreturn [\n  {\n    json: {\n      actualValue: $env.key1\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        -280
      ],
      "id": "6c58e09a-5a94-4324-a5aa-8f81274cc4ab",
      "name": "Code2"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -380,
        -420
      ],
      "id": "50f926ad-7a79-46cb-a982-ee32331de4df",
      "name": "n8n3",
      "credentials": {
        "n8nApi": {
          "id": "25m6IPU01x6ucEWA",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "https://github.com/Peter-Aistralis",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "N8N",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://github.com/Peter-Aistralis/N8N"
        },
        "filePath": "=xxx3",
        "binaryData": true,
        "commitMessage": "1"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        980,
        -420
      ],
      "id": "b69bc888-dcd5-4b72-ac4c-1645e10a1c52",
      "name": "GitHub",
      "webhookId": "068859f7-6af1-44ec-9a92-4d5765f2cbb7",
      "credentials": {
        "githubApi": {
          "id": "tGo4GdosINl12am3",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const jsonString = JSON.stringify(items[0].json, null, 2); // keeps indentation\nconst dataBuffer = Buffer.from(jsonString);\n\nreturn [\n  {\n    binary: {\n      data: {\n        data: dataBuffer.toString('base64'),\n        fileName: 'workflow.json',\n        mimeType: 'application/json',\n      },\n    },\n    json: {}, // optional, can include metadata\n  },\n];\n"
      },
      "id": "6b0c45b6-36a3-4a22-a362-3bd231b0201f",
      "name": "Code4",
      "type": "n8n-nodes-base.code",
      "position": [
        260,
        -560
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0a1411d2-24c6-4fe5-bee7-4eaef46467d7",
              "leftValue": "={{ $('n8n1').item.json.tags[0].name }}",
              "rightValue": "YouTube",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        -120
      ],
      "id": "5206dc24-f239-4fe2-b70d-dae9f6446891",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "=https://github.com/Peter-Aistralis/{{ $('n8n1').item.json.tags[0].name }}",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "N8N",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://github.com/Peter-Aistralis/N8N"
        },
        "filePath": "={{ $('n8n1').item.json.name }}",
        "fileContent": "data",
        "commitMessage": "first commit"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        740,
        -300
      ],
      "id": "282a0b46-8ae4-42cf-9bb2-3662770f62a3",
      "name": "GitHub1",
      "webhookId": "16e5f2e5-4072-4f0a-b013-a1d2b5e9b390",
      "credentials": {
        "githubApi": {
          "id": "tGo4GdosINl12am3",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const jsonString = JSON.stringify(items[0].json, null, 2); // keeps indentation\nconst dataBuffer = Buffer.from(jsonString);\n\nreturn [\n  {\n    binary: {\n      data: {\n        data: dataBuffer.toString('base64'),\n        fileName: 'workflow.json',\n        mimeType: 'application/json',\n      },\n    },\n    json: {}, // optional, can include metadata\n  },\n];\n"
      },
      "id": "c31aed13-5d37-49e1-8f8e-0855d59662a2",
      "name": "Code5",
      "type": "n8n-nodes-base.code",
      "position": [
        320,
        -400
      ],
      "typeVersion": 2
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "n8n3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Exist or not in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exist or not in Sheet": {
      "main": [
        [
          {
            "node": "updated or not",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "n8n1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updated or not": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "n8n2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n2": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n3": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        []
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "GitHub1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1bf94df1-21ae-4093-8bc6-2c0b3bc61a6e",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-06-22T07:40:38.448Z",
      "updatedAt": "2025-06-22T07:40:38.448Z",
      "id": "BGN2hok7R5Ooic8u",
      "name": "YouTube"
    }
  ]
}